body, html {
    height: 100%;
    margin: 0;
}

#hobby_page{
    background-color: grey;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

#hobby_page_content {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hobby_background.jpg");
}

#hobby_cards {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}