body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("front_image.jpg");
    #background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 80%;
    height: 40%;
    #background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 100;
    
}

#hero_title {
    font-size: 2.7em
}

#hero_text {
    font-size: 1.25em;
}

.hobby_card {
    margin-bottom: 20%;
}

#hobby_button {
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#contact_button {
    text-decoration: none;
    align-content: right;
    position: absolute;
    top: 5%;
    right: 2%;
    color: white;
    font-weight: 100;
}

#intro_text {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: aliceblue;
}

#page_content {
    background-color: #393c52;
    padding-left: 20%;
    padding-right: 20%;
}

#intro_title {
    padding-bottom: 3%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#intro_paragraph {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
}

#hobby_and_proj_cell_container {
    background-color: aliceblue;
    height: 100%;
    #width: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
    #top: 50%;
    #left: 50%;
    #transform: translate(20%, -50%);
}

#hobby_and_proj_cells {
    #padding-left: 15%;
    top: 50%;
    left: 50%;
    #position: inherit;
}

#hobby_card_title {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

#hobby_card_text {
    text-align: center;
}

#project_card_text {
    text-align: center;
}

#project_card_title {
    #padding-top: 13%;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}